/* Diseño: CSS3 Para el diseño. 
Se utiliza un mismo background color para todos los botones, excepto para los boton de agregar. 
para los botones de agregar se utiliza el color verde y ademas se utiliza un hover. 
*/
.boton {
    background-color: #004d7f;
    color: white;
    font-size:  16px;
    align-items: center;
    border-radius: 10px;
}

i {
    font-size: 20px;
}

.container {
    width:97%;
}

.btn-agregar {
    padding: 10px 10px 10px 10px;
    font-size: 15px;
    background-color: green;
} 

.btn-agregar:hover {
    background-color: green;
}