/*  Diseño: CSS3 Para el diseño. 
Para el dideño del login.Este archivo configura lo estilos de las tablas que aparecen en el proyecto.
Se puede observar el tipo de letra, los bordes y nth-child para cambiar de color
las filas de las tablas.
*/
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}